body {
  font-size: 16px;
  color: #fff;
  background-color:#000000;
  font-family: 'Oxygen', sans-serif;
}

/** HEADER **/
#header-nav {
  background-color: #282828;
  border-radius: 0;
  border: 0;
  margin-bottom:0;
  width:100%;
  overflow: hidden;
}
.navbar-brand {
  padding-top: 15px;
}
.navbar-brand h1 { /* Restaurant name */
  font-family: 'Lora', serif;
  color: #ffffff;
  font-size: 2em;
  text-shadow: 1px 1px 1px #222;
  margin-top: 0;
  margin-bottom: 0;
  line-height: .75;
}
.navbar-brand a:hover, .navbar-brand a:focus{
	text-decoration: none;
}
#collapsable-nav{
	margin-bottom:0;
	padding-right:0px;
}
#nav-list {
  background-color:#3500D3;
  margin-top:0;
  margin-bottom:0;
  margin-right:0;
}
.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid white;
}
.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -40px;
}
li.visible-xs{
	border:0.5px solid white;
	padding:5px;
}
/* END HEADER */

/* MAIN CONTENT */
#heading{
	font-size:3em;
	font-style:bold;
}

#dishes{
	margin-left:25px;
	margin-right:25px;
}
#dishes>div{
	background-color:#190061;
	height:1000px;
	margin-top:25px;
	margin-bottom:25px;
	overflow: hidden;
}
#dishes-name{
	margin-top:25px;
	font-weight: bold;
	font-size:2em;
}
#dishes-content{
	margin-top:20px;
}